.App {
  text-align: center;
}
.PageTitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-align: center;
	background-color: cornflowerblue;
	color: white;
	padding: 1rem;
	text-shadow: 2px 2px #555;
}



.dropdown-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #06407a;
}

.dropdown-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}


.dropdown-toggle {
	background-color: cornflowerblue;
	color: #fff;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
	height: fit-content;
}

.dropdown-toggle:hover {
	background-color: #003366;
}


.dropdown-content-container {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #326ed9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: max-height 0.7s ease-in-out;
}

.dropdown-content-container.closed {
	max-height: 0;
}

.dropdown-content-container.open {
	/*max-height: 800px; !* Set to a high value to allow for dynamic content *!*/
	overflow: auto
}

.content {
	background-color: cornflowerblue;
	color: white;
	padding: 20px;
	flex-grow: 1;
}

.content h2 {
	font-size: 2em;
	margin-top: 0;
}

.content p {
	font-size: 1.2em;
	margin-bottom: 0;
}

.content ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content li {
	margin-bottom: 30px;
}


.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/*.dropdown-content-container > * {*/
/*	margin-bottom: 10px;*/
/*}*/


